@tailwind base;
@tailwind components;
@tailwind utilities;

@import "links.css";


.title-border:after {
    content: "";
    mask: url(border-image.svg) no-repeat;
    mask-size: cover;
    mask-position: 0.75em 103%;
    @apply block mt-2 w-full h-4 bg-primary-dark;
}



.title-background {
    mask: url(border-7.svg) no-repeat;
    mask-size: 100% 200%, contain;
    mask-position: 50% 50%;

    @apply bg-primary-dark;
}

.attribute-background {
    mask: url(border-9.svg) no-repeat;
    mask-size: 100%, 200%;
    mask-position: 50% 25%;

    @apply bg-secondary-dark w-1/4 text-right pr-4;
}


.progress-bar-background {
    mask: url(border-1.svg) no-repeat;
    mask-position: 0% 100%;
    mask-size: cover;
    @apply block w-full h-16 bg-secondary-dark;
}

.progress-bar {
    mask: url(border-1.svg) no-repeat;
    mask-position: 0% 100%;
    mask-size: cover;
    transition: width 2s;
    @apply block h-16 bg-primary-dark;
}